@page
@model RapGame.Pages.AdditionalContent.GameInAdditionalContentPageModel
@inject RapGame.Utils.MediaHelper mediaHelper
@{
    ViewBag.ShowButtom = false;
    ViewBag.ShowMicsCounter = true;
}

<div class="container">
    <div class="row">
        <div id="answer" class="display-1 text-center">
            <b id="@Model.GameDate.AdditionalContent.RowNumberWithRefOnAdditionalContent">@Model.Setting.EmotionForRap</b>
        </div>
    </div>

    <div class="row text-center pt-5">
        @for (int i = 0; i < Model.GameDate.Sentences.Count; i++)
        {
                <div id="@(i+1)" class="display-4 pt-3" style="cursor: pointer" onclick="isCorrect(this.id)">
                       <b>@Model.GameDate.Sentences[i].SentenceText @Model.GameDate.Sentences[i].LastWord</b>
                </div>
        }
    </div>

  <div class="row align-items-center">
  <div id="rhyme" class="offset-4 col-4 pt-5 text-center">
            <img id="@Model.GameDate.RhymeScheme" class="img w-20 preserve-width" src="@mediaHelper.GetMediaPath(Model.GameDate.PathToImages)"/>
        </div>
        @if (Model.GameDate.EmotionForRap == "Angry")
        {
                    <div class ="col-4">
                      <div class="display-5 text-center border border-3 border-danger borderred">
                <b>Click on the repetition</b>
            </div>
                  </div>
        }
        else
        {
                   <div class ="col-4">
                  <div class="display-5 text-center border border-3 border-danger borderred">
            <b>Click on the internal <br /> rhyme</b>
        </div>
              </div>
        }
     </div>  
 <div class="position-absolute top-0 end-0 pt-2 pe-2">
            <div class="col align-self-center  border border-2 border-success bordergreen">
                <div id="count" class="row">
                    <div class="col-6">
                            <img class="img w-10 m-2" src="/img/Mystics.png" />
                    </div>

                    <div class="col-6 pe-3">
                        <h3 class="pt-5">You have</h3>
                        <h3>@Model.CountOfMysticMics/50</h3>
                        <h3>Mystic Mics</h3>
                    </div>
                </div>
            </div>
        </div>
<div class="position-absolute bottom-0 end-0 pb-1 pe-1">
    <form method="post" asp-page="GameInAdditionalContentPag">
        <button style="font-size:50px" id="sumbmitBtn" class="btn btn-lg btn-dark mt-1 d-none" type="submit" asp-page-handler="GoToNextPage">
            Next
        </button>
    </form>
</div>
 <div class="modal fade" id="ModalErrorAnswer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 40rem">
        <div class="modal-content" style="background-color: red">
            <div class="modal-body text-center">
                <div class="display-5" style="color: black"><b>Are you sure? <br>Try again.</b></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalWin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 40rem">
        <div class="modal-content" style="background-color: red">
            <div class="modal-body text-center">
                <div class="display-5" style="color: black"><b>You are win.</i></b></div>
            </div>
        </div>
    </div>
<script src="~/js/game5.js"></script>