@page
@model RapGame.Pages.Frame191TemplateModel
@inject RapGame.Utils.MediaHelper mediaHelper
@{
    ViewData["Title"] = Model.MediaData.Title;
    ViewBag.ShowMicsCounter = true;  
}
<div class="container-fluid text-center h-100">
    <div class="row  display-4">
        <div class="col-4 offset-4 text-center display-2" <b>
                @Model.GameData.EmotionForRap
            </b>
        </div>
        <div class="col-6 offset-3 mt-5 border border-danger border-3 text-center borderred display-5">

            <b> Now write your own rap about being </b>
            <b>
                @Model.GameData.EmotionForRap.ToLower()
            </b>
            <br>
            <b>
               using any rhyme scheme you like!
            </b>

        </div>
    </div>

    <div class="row mt-5" id=" finish">
            
        <div class=" col-xl-6 offset-3 align-items-center display-1 mt-5" id="finish">
            @for (int i = 0; i < @Model.GameData.Words.Count; i++)
            {
                if ((i + 1) % 4 == 0)
                {
                            <div id ="@(i)"class="border-bottom border-dark ms-2 display-5 mb-5" style=" height: 3.5rem;" ondrop="drop(event)"
                ondragover="allowDrop(event)" contenteditable="true" oninput="verification(this)"
                onkeypress="return (this.innerText.length <= 50)">

                    </div>

                }
                else
                {
                    <div id ="@(i)" class="border-bottom border-dark ms-2 display-5" style=" height: 3.5rem;" ondrop="drop(event)"
                ondragover="allowDrop(event)" contenteditable="true" oninput="verification(this)"
                onkeypress="return (this.innerText.length <= 50)"></div>
                }
            }
        </div>      
    </div>

    <div class="modal fade" id="ModalBadWord" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 40rem">
            <div class="modal-content" style="background-color: red">
                <div class="modal-body text-center">
                    <div class="display-5" style="color: black"><b>You cannot use that word</b></div>
                </div>
            </div>
        </div>
    </div>


